{{- writeToStdout "\n" -}}
{{- writeToStdout "  \033[1mInitial configuration:\033[0m\n" -}}
{{- $install_git_config := promptBool "> Install git config (y/n)" false -}}
{{- $fix_touchpad_speed := promptBool "> Fix touchpad speed (y/n)" false -}}

data:
    install_git_config: {{ $install_git_config }}
    fix_touchpad_speed: {{ $fix_touchpad_speed }}
