#!/usr/bin/env bash

set -euo pipefail

# NOTE: for gnome-shell-extension-installer
export PATH="${HOME}/.local/bin:${PATH}"

if [[ -n "${DEBUG:-}" ]]; then
  set -x
fi

{{ if ne .chezmoi.os "linux" }}
{{     fail "Only Linux is supported at the moment!" }}
{{ end }}

# Install packages
{{ template "install-packages.tmpl" . }}

{{ if .setup_gnome }}
# Setup GNOME
{{     template "setup-gnome.tmpl" . }}
{{ end }}

{{ if .fix_touchpad_speed }}
# Fix touchpad speed
{{     template "fix-touchpad-speed.tmpl" . }}
{{ end }}

# Install nvm
# -----------
# Set PROFILE to prevent updating .zshrc
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh \
  | PROFILE=/dev/null NVM_DIR=~/.local/share/nvm bash

chsh -s $(which zsh)

{{ if .setup_gnome }}
    # TODO: add option to skip fonts installation
    fc-cache -rf
    gnome-session-quit
{{ else }}
    zsh
{{ end }}
