#!/usr/bin/env bash

set -euxo pipefail

{{ if ne .chezmoi.os "linux" }}
{{     fail "Only Linux is supported at the moment!" }}
{{ end }}

{{ template "install-packages.tmpl" . }}

chsh -s $(which zsh)

zsh
