#!/usr/bin/env bash

set -euxo pipefail

{{ if ne .chezmoi.os "linux" }}
{{     fail "Only Linux is supported at the moment!" }}
{{ end }}

{{ if eq (env "INSTALL_PACKAGES") "yes" }}
{{     template "install-packages.tmpl" . }}
{{ end }}

chsh -s $(which zsh)

zsh
