{{- if ne .chezmoi.osRelease.id "fedora" -}}
{{     fail "Only Fedora is supported at the moment!" }}
{{- end -}}

sudo dnf install -y \
{{- if .fix_touchpad_speed }}
    meson libinput-devel libudev-devel \
{{- end }}
    util-linux-user `# for "chsh" command` \
    moreutils `# for "sponge" command` \
{{- if .install_gui_applications }}
    dconf-editor \
    meld \
{{- end }}
    jq \
    htop \
    podman podman-compose \
    borgbackup \
    gnome-shell-extension-pop-shell just qalc libxkbcommon-devel libglvnd-devel \
    syncthing \
    wl-clipboard \
    alacritty \
    fzf \
    gh \
    `# TODO: install rclone from distro packages when 1.64 will be packed` \
    `# rclone` \
    libgda libgda-sqlite `# for Pano (a GNOME shell extension)` \
    yt-dlp \
    neovim python3-neovim \
    mold \
    nautilus-python \
    bat \
    fd-find \
    ripgrep \
    zsh

{{ if .install_gui_applications -}}
flatpak remote-add \
    --if-not-exists \
    flathub https://flathub.org/repo/flathub.flatpakrepo

flatpak install flathub -y \
    com.mattjakeman.ExtensionManager \
    com.github.maoschanz.drawing \
    com.spotify.Client \
    com.vscodium.codium \
    io.github.seadve.Kooha \
    org.videolan.VLC \
    com.raggesilver.BlackBox \
    com.logseq.Logseq \
    org.gnome.World.PikaBackup \
    com.github.marhkb.Pods \
    io.github.fabrialberio.pinapp \
    com.github.finefindus.eyedropper \
    com.discordapp.Discord \
    org.telegram.desktop

flatpak --user override --filesystem=/home/$USER/.local/share/icons/:ro

{{- end -}}
