# https://extensions.gnome.org/extension/615/appindicator-support/
gnome-shell-extension-installer 615
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/appindicatorsupport@rgcjonas.gmail.com/schemas
gsettings set org.gnome.shell.extensions.appindicator icon-size 32
gsettings set org.gnome.shell.extensions.appindicator legacy-tray-enabled true

# TODO 2023-04-32: Recheck this extension
#      https://github.com/kgshank/gse-sound-output-device-chooser/issues/258 (what is the plan for gnome 43)
#
# # https://extensions.gnome.org/extension/906/sound-output-device-chooser/
# gnome-shell-extension-installer 906
# export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/sound-output-device-chooser@kgshank.net/schemas
# gsettings set org.gnome.shell.extensions.sound-output-device-chooser hide-on-single-device true
# gsettings set org.gnome.shell.extensions.sound-output-device-chooser integrate-with-slider true

# https://extensions.gnome.org/extension/517/caffeine/
gnome-shell-extension-installer 517
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/caffeine@patapon.info/schemas
gsettings set org.gnome.shell.extensions.caffeine restore-state true

# https://extensions.gnome.org/extension/1319/gsconnect/
gnome-shell-extension-installer 1319

# https://extensions.gnome.org/extension/5237/rounded-window-corners/
gnome-shell-extension-installer 5237

# https://extensions.gnome.org/extension/1460/vitals/
gnome-shell-extension-installer 1460
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/Vitals@CoreCoding.com/schemas
gsettings set org.gnome.shell.extensions.vitals hot-sensors "['_memory_usage_', '_processor_usage_', '_storage_free_']"
gsettings set org.gnome.shell.extensions.vitals show-battery true

# https://extensions.gnome.org/extension/352/middle-click-to-close-in-overview/
gnome-shell-extension-installer 352

# https://extensions.gnome.org/extension/16/auto-move-windows/
gnome-shell-extension-installer 16
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/auto-move-windows@gnome-shell-extensions.gcampax.github.com/schemas
gsettings set org.gnome.shell.extensions.auto-move-windows application-list \
    "[
        'jetbrains-webstorm.desktop:2',
        'firefox.desktop:3',
        'com.discordapp.Discord.desktop:4',
        'org.telegram.desktop.desktop:5',
        'com.spotify.Client.desktop:9'
    ]"

# https://extensions.gnome.org/extension/3843/just-perfection/
gnome-shell-extension-installer 3843
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/just-perfection-desktop@just-perfection/schemas
gsettings set org.gnome.shell.extensions.just-perfection animation 3
gsettings set org.gnome.shell.extensions.just-perfection accessibility-menu false
gsettings set org.gnome.shell.extensions.just-perfection double-super-to-appgrid false
gsettings set org.gnome.shell.extensions.just-perfection window-demands-attention-focus true

# https://extensions.gnome.org/extension/3956/gnome-fuzzy-app-search/
gnome-shell-extension-installer 3956

# https://extensions.gnome.org/extension/4798/thinkpad-battery-threshold/
gnome-shell-extension-installer 4798

### --> Tiling-like configuration (1/4)
gsettings set org.gnome.shell.extensions.just-perfection workspace-popup false
### <-- Tiling-like configuration (1/4)

### --> Tiling-like configuration (2/4)
# https://extensions.gnome.org/extension/5090/space-bar/
gnome-shell-extension-installer 5090
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/space-bar@luchrioh/schemas
gsettings set org.gnome.shell.extensions.space-bar.behavior toggle-overview false
gsettings set org.gnome.shell.extensions.space-bar.shortcuts enable-move-to-workspace-shortcuts true
gsettings set org.gnome.shell.extensions.space-bar.shortcuts activate-previous-key "['<Super>Escape']"
### <-- Tiling-like configuration (2/4)

### --> Tiling-like configuration (3/4)
pushd /tmp/
git clone https://github.com/pop-os/launcher --depth 1
pushd launcher
just build-release
sudo just rootdir=/ install
popd
popd
rm -rf /tmp/launcher

gsettings set org.gnome.shell.extensions.pop-shell active-hint true
gsettings set org.gnome.shell.extensions.pop-shell fullscreen-launcher true
gsettings set org.gnome.shell.extensions.pop-shell tile-by-default true
### <-- Tiling-like configuration (3/4)

# https://extensions.gnome.org/extension/1732/gtk-title-bar/
gnome-shell-extension-installer 1732
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/gtktitlebar@velitasali.github.io/schemas
gsettings set org.gnome.shell.extensions.gtktitlebar restrict-to-primary-screen false

# NOTE: fedora logo
gsettings set org.fedorahosted.background-logo-extension logo-always-visible true

# TODO: concat value from bash array
gsettings set org.gnome.shell enabled-extensions \
    "[
        'appindicatorsupport@rgcjonas.gmail.com',
        `# NOTE(DP): disabled: 'sound-output-device-chooser@kgshank.net',`
        'caffeine@patapon.info',
        'gsconnect@andyholmes.github.io',
        'rounded-window-corners@yilozt',
        'Vitals@CoreCoding.com',
        'just-perfection-desktop@just-perfection',
        'space-bar@luchrioh',
        'middleclickclose@paolo.tranquilli.gmail.com',
        'auto-move-windows@gnome-shell-extensions.gcampax.github.com',
        'gnome-fuzzy-app-search@gnome-shell-extensions.Czarlie.gitlab.com',
        'pop-shell@system76.com',
        'background-logo@fedorahosted.org'
    ]"

# NOTE: wayland: enable the experimental fractional scaling feature
gsettings set org.gnome.mutter experimental-features "['scale-monitor-framebuffer']"
gsettings set org.gnome.mutter center-new-windows true
gsettings set org.gnome.mutter attach-modal-dialogs false

gsettings set org.gnome.desktop.wm.preferences button-layout ":minimize,maximize,close"

gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'
gsettings set org.gnome.desktop.interface text-scaling-factor 1.65
gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita-dark'
gsettings set org.gnome.desktop.interface cursor-theme 'Bibata-Modern-Ice'
gsettings set org.gnome.desktop.interface cursor-size 32
gsettings set org.gnome.desktop.interface clock-show-weekday true
gsettings set org.gnome.desktop.interface font-hinting 'full'
gsettings set org.gnome.desktop.interface font-antialiasing 'rgba'

gsettings set org.gnome.desktop.peripherals.touchpad natural-scroll false
gsettings set org.gnome.desktop.peripherals.touchpad tap-to-click true
gsettings set org.gnome.desktop.peripherals.touchpad two-finger-scrolling-enabled true
gsettings set org.gnome.desktop.peripherals.touchpad speed 0.2

gsettings set org.gnome.desktop.input-sources sources "[('xkb', 'us'), ('xkb', 'ru')]"

gsettings set org.gnome.desktop.wm.keybindings switch-windows "['<Alt>Tab']"
gsettings set org.gnome.desktop.wm.keybindings switch-windows-backward "['<Shift><Alt>Tab']"

gsettings set org.gnome.settings-daemon.plugins.color night-light-temperature 3700
gsettings set org.gnome.settings-daemon.plugins.color night-light-enabled true
gsettings set org.gnome.settings-daemon.plugins.color night-light-schedule-automatic true

gsettings set org.gnome.TextEditor highlight-current-line true

### --> Setup hotkeys
gsettings set org.gnome.desktop.input-sources xkb-options "['grp:caps_toggle']"

gsettings set org.gnome.settings-daemon.plugins.media-keys custom-keybindings "['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/']"
gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ binding '<Control><Alt>t'
gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ command 'gnome-terminal'
gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ name 'Open a terminal'

gsettings set org.gnome.shell.keybindings show-screenshot-ui "['Print', '<Shift><Super>s']"

# https://askubuntu.com/questions/1083913/what-does-ctrl-shift-e-do-while-typing-text
gsettings set org.freedesktop.ibus.panel.emoji hotkey "[]"

### <-- Setup hotkeys

### --> Tiling-like configuration (4/4)
gsettings set org.gnome.desktop.interface document-font-name 'Cantarell Nerd Font 11'
gsettings set org.gnome.desktop.interface font-name 'Cantarell Nerd Font 11'
gsettings set org.gnome.desktop.wm.preferences titlebar-font 'Cantarell Nerd Font Bold 11'

gsettings set org.gnome.mutter dynamic-workspaces false

gsettings set org.gnome.desktop.wm.preferences num-workspaces 9
gsettings set org.gnome.desktop.wm.preferences workspace-names \
    "[
        '₁',
        '₂',
        '₃',
        '₄ﭮ',
        '₅',
        '6',
        '7',
        '8',
        '₉'
    ]"

gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-left "['<Shift><Super>Left']"
gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-right "['<Shift><Super>Right']"

gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-left "['<Control><Super>Left']"
gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-right "['<Control><Super>Right']"

gsettings set org.gnome.shell.keybindings switch-to-application-1 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-2 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-3 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-4 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-5 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-6 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-7 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-8 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-9 "[]"
### <-- Tiling-like configuration (4/4)
