GNOME_VERSION=$(gnome-shell --version | sed  -nE "s/^GNOME Shell ([[:digit:]]+).*$/\1/p")

# https://extensions.gnome.org/extension/2890/tray-icons-reloaded/
gnome-shell-extension-installer 2890
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/trayIconsReloaded@selfmade.pl/schemas
gsettings set org.gnome.shell.extensions.trayIconsReloaded icon-size 32
gsettings set org.gnome.shell.extensions.trayIconsReloaded icon-padding-horizontal 4

# https://extensions.gnome.org/extension/906/sound-output-device-chooser/
gnome-shell-extension-installer 906
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/sound-output-device-chooser@kgshank.net/schemas
gsettings set org.gnome.shell.extensions.sound-output-device-chooser hide-on-single-device true
gsettings set org.gnome.shell.extensions.sound-output-device-chooser integrate-with-slider true

# https://extensions.gnome.org/extension/517/caffeine/
gnome-shell-extension-installer 517
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/caffeine@patapon.info/schemas
gsettings set org.gnome.shell.extensions.caffeine restore-state true

# https://extensions.gnome.org/extension/234/steal-my-focus/
# NOTE: see .chezmoiexternal.yaml

# https://extensions.gnome.org/extension/352/middle-click-to-close-in-overview/
# TODO https://github.com/p91paul/middleclickclose/issues/36

# https://extensions.gnome.org/extension/16/auto-move-windows/
gnome-shell-extension-installer 16
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/auto-move-windows@gnome-shell-extensions.gcampax.github.com/schemas
gsettings set org.gnome.shell.extensions.auto-move-windows application-list \
    "[
        'org.gnome.Terminal.desktop:1',
        'jetbrains-webstorm.desktop:2',
        'firefox.desktop:3',
        'com.discordapp.Discord.desktop:4',
        'org.telegram.desktop.desktop:5',
        'com.spotify.Client.desktop:9'
    ]"

# https://extensions.gnome.org/extension/3843/just-perfection/
gnome-shell-extension-installer 3843
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/just-perfection-desktop@just-perfection/schemas
gsettings set org.gnome.shell.extensions.just-perfection animation 3
gsettings set org.gnome.shell.extensions.just-perfection accessibility-menu false
### --> Tiling-like configuration (1/3)
gsettings set org.gnome.shell.extensions.just-perfection workspace-popup false
### <-- Tiling-like configuration (1/3)

# https://extensions.gnome.org/extension/1089/go-to-last-workspace/
# NOTE: see .chezmoiexternal.yaml
pushd ~/.local/share/gnome-shell/extensions/gnome-shell-go-to-last-workspace@github.com

jq --arg version "${GNOME_VERSION}" '.["shell-version"] = [$version]' metadata.json | sponge metadata.json
export GSETTINGS_SCHEMA_DIR=./schemas
gsettings set org.gnome.shell.extensions.go-to-last-workspace shortcut-key "['<Super>escape']"

popd

### --> Tiling-like configuration (2/3)
# https://extensions.gnome.org/extension/3851/workspaces-bar/
gnome-shell-extension-installer 3851
### <-- Tiling-like configuration (2/3)

# https://extensions.gnome.org/extension/1732/gtk-title-bar/
gnome-shell-extension-installer 1732
export GSETTINGS_SCHEMA_DIR=~/.local/share/gnome-shell/extensions/gtktitlebar@velitasali.github.io/schemas
gsettings set org.gnome.shell.extensions.gtktitlebar restrict-to-primary-screen false

# NOTE: fedora logo
gsettings set org.fedorahosted.background-logo-extension logo-always-visible true

# TODO: concat value from bash array
gsettings set org.gnome.shell enabled-extensions \
    "[
        'trayIconsReloaded@selfmade.pl',
        'sound-output-device-chooser@kgshank.net',
        'caffeine@patapon.info',
        `# NOTE(DP): disabled: 'steal-my-focus@kagesenshi.org',`
        'just-perfection-desktop@just-perfection',
        'workspaces-bar@fthx',
        'gnome-shell-go-to-last-workspace@github.com',
        'auto-move-windows@gnome-shell-extensions.gcampax.github.com',
        'background-logo@fedorahosted.org'
    ]"

# NOTE: wayland: enable the experimental fractional scaling feature
gsettings set org.gnome.mutter experimental-features "['scale-monitor-framebuffer']"
gsettings set org.gnome.mutter center-new-windows true

gsettings set org.gnome.desktop.wm.preferences button-layout ":minimize,maximize,close"

gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'
gsettings set org.gnome.desktop.interface text-scaling-factor 1.65
gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita-dark'
gsettings set org.gnome.desktop.interface cursor-size 32
gsettings set org.gnome.desktop.interface clock-show-weekday true
gsettings set org.gnome.desktop.interface font-hinting 'full'
gsettings set org.gnome.desktop.interface font-antialiasing 'rgba'

gsettings set org.gnome.desktop.peripherals.touchpad natural-scroll false
gsettings set org.gnome.desktop.peripherals.touchpad tap-to-click true
gsettings set org.gnome.desktop.peripherals.touchpad two-finger-scrolling-enabled true
gsettings set org.gnome.desktop.peripherals.touchpad speed 0.2

gsettings set org.gnome.desktop.input-sources sources "[('xkb', 'us'), ('xkb', 'ru')]"

gsettings set org.gnome.desktop.wm.keybindings switch-windows "['<Alt>Tab']"
gsettings set org.gnome.desktop.wm.keybindings switch-windows-backward "['<Shift><Alt>Tab']"

gsettings set org.gnome.settings-daemon.plugins.color night-light-temperature 3700
gsettings set org.gnome.settings-daemon.plugins.color night-light-enabled true
gsettings set org.gnome.settings-daemon.plugins.color night-light-schedule-automatic true

gsettings set org.gnome.TextEditor highlight-current-line true

### --> Setup hotkeys
gsettings set org.gnome.desktop.input-sources xkb-options "['grp:caps_toggle']"

gsettings set org.gnome.settings-daemon.plugins.media-keys custom-keybindings "['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/']"
gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ binding '<Control><Alt>t'
gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ command 'gnome-terminal'
gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ name 'Open a terminal'

gsettings set org.gnome.shell.keybindings show-screenshot-ui "['Print', '<Shift><Super>s']"

# https://askubuntu.com/questions/1083913/what-does-ctrl-shift-e-do-while-typing-text
gsettings set org.freedesktop.ibus.panel.emoji hotkey "[]"

### <-- Setup hotkeys

### --> Tiling-like configuration (3/3)
gsettings set org.gnome.desktop.interface document-font-name 'Cantarell Nerd Font 11'
gsettings set org.gnome.desktop.interface font-name 'Cantarell Nerd Font 11'
gsettings set org.gnome.desktop.wm.preferences titlebar-font 'Cantarell Nerd Font Bold 11'

gsettings set org.gnome.mutter dynamic-workspaces false

gsettings set org.gnome.desktop.wm.preferences num-workspaces 9
gsettings set org.gnome.desktop.wm.preferences workspace-names \
    "[
        '₁',
        '₂',
        '₃',
        '₄ﭮ',
        '₅',
        '6',
        '7',
        '8',
        '9'
    ]"

gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-1 "['<Super>1']"
gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-2 "['<Super>2']"
gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-3 "['<Super>3']"
gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-4 "['<Super>4']"
gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-5 "['<Super>5']"
gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-6 "['<Super>6']"
gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-7 "['<Super>7']"
gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-8 "['<Super>8']"
gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-9 "['<Super>9']"

gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-1 "['<Shift><Super>1']"
gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-2 "['<Shift><Super>2']"
gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-3 "['<Shift><Super>3']"
gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-4 "['<Shift><Super>4']"
gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-5 "['<Shift><Super>5']"
gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-6 "['<Shift><Super>6']"
gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-7 "['<Shift><Super>7']"
gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-8 "['<Shift><Super>8']"
gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-9 "['<Shift><Super>9']"

gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-left "['<Shift><Super>Left']"
gsettings set org.gnome.desktop.wm.keybindings move-to-workspace-right "['<Shift><Super>Right']"

gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-left "['<Control><Super>Left']"
gsettings set org.gnome.desktop.wm.keybindings switch-to-workspace-right "['<Control><Super>Right']"

gsettings set org.gnome.shell.keybindings switch-to-application-1 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-2 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-3 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-4 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-5 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-6 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-7 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-8 "[]"
gsettings set org.gnome.shell.keybindings switch-to-application-9 "[]"
### <-- Tiling-like configuration (3/3)
